@using System.Globalization
<svg style="width: 100%; height: 40px;">
	
	@{
		var x = 0.0;
	}
	@foreach (var item in Items)
	{
		<g>
			<text x="@item.TextX(x)" y="25%" text-anchor="@item.Anchor" dominant-baseline="middle">@item.Title</text>
			<rect x="@Pct(x)" width="@Pct(item.Fraction)" y="50%" height="50%" fill="@item.BackgroundColor">
				<title>@item.Title</title>
			</rect>
		</g>
		x += item.Fraction;
	}
	
	@{
		x = 0.0;
	}
	@foreach (var item in Items)
	{
		<g>
			<text x="@Pct(x + item.Fraction * 0.5)" y="75%" fill="@item.TextColor" text-anchor="middle" dominant-baseline="middle">@item.Value</text>
		</g>
		x += item.Fraction;
	}
</svg>


@code {

	[Parameter()]
	public List<Item> Items { get; set; } = new List<Item>();

	public record class Item
	{
		public string Title { get; set; }

		public string Align { get; set; }

		public double Fraction { get; set; }

		public string BackgroundColor { get; set; }

		public string TextColor { get; set; }

		/// <summary>
		/// Value, to display in the cell
		/// </summary>
		public string Value { get; set; }

		public string TextX(double x) => Align switch
		{
			"left" => Pct(x),
			"center" => Pct(x + Fraction * 0.5),
			"right" => Pct(x + Fraction),
			_ => throw new NotImplementedException()
		};

		public string Anchor => Align switch
		{
			"left" => "start",
			"center" => "middle",
			"right" => "end",
			_ => throw new NotImplementedException()
		};

	}

	private static string Pct(double fraction) => fraction.ToString("0.0%", CultureInfo.InvariantCulture);

}
